.logo h1 {
	margin-bottom: 0px;
	font-size: 22px;
	font-weight: 700;
}
.logo h1 span {
    color: #4260ff;
}
header .navbar {
	padding: 0px;
}
header .navbar ul li {
	margin: 0 14px;
}
header .navbar ul li a {
	font-size: 16px;
	color: #271d31;
	font-weight: 500;
	letter-spacing: .02em;
	padding: 26px 15px !important;
	display: inline-block;
	transition: all .3s ease-out 0s;
}
header .navbar ul li .nav-link.active {
	color: #4260ff !important;
}
header .navbar ul li > a:hover {
	color: #4260ff;
}
header .navbar .dropdown-toggle::after {
	display: inline-block;
	margin-left: 0;
	vertical-align: 0;
	content: "\f107";
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
	font-family: "Fontawesome";
	position: absolute;
	font-size: 12px;
	top: 30px;
	right: 0px;
}
header .navbar ul li ul {
	padding: 0 0 !important;
}
header .navbar ul li ul li {
	margin: 0 0 !important;
}
header .navbar ul li ul li .nav-link {
	padding: 5px 15px !important;
	width: 100%;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
	position: absolute;
	width: 240px;
}