/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Yantramanav', sans-serif;
}
body, p {
	font-weight: 500;
	font-size: 16px;
  list-style: 20px;
}
.site-btn {
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	background-color: #0c5adb;
	color: #fff;
	border-radius: 8px;
	padding: 10px 28px;
	text-decoration: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.35s ease-in-out;
  overflow: hidden;
}
/* .site-btn:hover {
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	background-color: #0c5adb;
	color: #fff;
	border-radius: 8px;
	padding: 10px 28px;
	text-decoration: none;
} */
.site-btn::after {
	position: absolute;
	top: inherit;
	right: inherit;
	bottom: inherit;
	left: -5%;
	content: "";
	height: 150px;
	width: 115%;
	z-index: -1;
	background-color: #03112d;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	-webkit-transform: translateY(-45%) skew(25deg) scale(0);
	transform: translateY(-45%) skew(25deg) scale(0);
}
.site-btn:hover::after {
	-webkit-transform: translateY(-45%) skew(25deg) scale(1.2);
	transform: translateY(-45%) skew(25deg) scale(1.2);
}